.navBar {
    z-index: 999;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: bottom .3s;
}

.navBar > li {
    color: #fff;
    width: 36px;
    height: 36px;
    margin: 0 10px;
    float: left;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}