.pinView {
    display: none;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(229,229,229,.95);
    overflow: auto;
    z-index: 9;
    font-size: 0;
}

.pinView img {
    width: 100%;
    min-height: 100%;
}

.pinView .closeButton {
    position: fixed;
    right: 20px;
    top: 0;
    font-size: 56px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #444;
    cursor: pointer;
}

.view {
    position: relative;
    width: 100%;
    height: 2000px;
}